@keyframes slidein {
    from {
      transform: translateX(0%);
    }
  
    to {
      transform: translateX(-100vw);
    }
}

@keyframes activeText {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    };
}

@keyframes previousText {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    };
}

@keyframes activeImg {
    from {
        width: 0%;
    }
    
    to {
        width: 100%;
    }
}

@keyframes pageCount {
    0% {
        transform: translateY(0);
    }
    
    49% {
        transform: translateY(-24px);
        opacity: 1;
    }
    50% {
        opacity: 0;
        transform: translateY(24px);
    }
    51% {
        opacity: 1;
    }

    100% {
        transform: translateY(0);
    }
}