@keyframes slidein {
    from {
      transform: translateX(0%);
    }
  
    to {
      transform: translateX(-50%);
    }
}

@keyframes activeText {
    0% {
        transform: translateX(25%);
    }

    50% {
        transform: translateX(25%);
    }
    100% {
        transform: translateX(0%);
    };
}

@keyframes previousText {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    };
}

@keyframes activeImg {
    0% {
        width: 0;
    }
    
    25% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes pageCount {
    0% {
        transform: translateY(0);
    }
    
    49% {
        transform: translateY(-24px);
        opacity: 1;
    }
    50% {
        opacity: 0;
        transform: translateY(24px);
    }
    51% {
        opacity: 1;
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes countUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes imgHeight {
    from {
        height: 0%;
    }
    to {
        height: calc(100vh - 91px);
    }
}

@keyframes btnHeight {
    from {
        height: 0px;
        border: none;
        padding: 0 $btn-padding-x;
    }
    to {
        height: initial;
        border: 1px solid $primary;
        padding: $btn-padding-y $btn-padding-x;
    }
}

@keyframes contentScrollUp {
    from {
        transform: translateY(200%);
    }
    to {
        transform: translate(0);
    }
}