.container-fluid {

    div[class^="g-col-"] {
        &:not(.main-col-right) {
            padding: $grid-gutter-width;
        }
        &.g-col-md-6 {
            &:first-child {
                padding-right: 0;
            }
            &:nth-child(2) {
                padding-left: 0;
            }
        }
    }
}

.header {
    height: auto;
    background-color: $primary;
    color: $gray-600;
    font-size: $font-size-base * 1.125;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    .container-fluid {
        padding-left: $grid-gutter-width * 2;
        padding-right: $spacer * 4.5;
        a {
            color: $gray-600;
        }
    }
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
    &.transitioning {
        .page-count {
            span {
                animation: pageCount 750ms ease-out;
            }
        }
    }
    .main {
        flex-grow: 1;
        display: flex;
        .container-fluid {
            display: flex;
            padding: 0;
            .main-grid {
                grid-template-rows: 1fr;
                gap: 0;
                .main-col {
                    &-left {
                        border-right: 3px solid $primary;
                        grid-row: 1 / span 2;
                        background-color: $secondary;
                        z-index: 2;
                        position: relative;
                        @include media-breakpoint-up(xxl) {
                            padding-left: $grid-gutter-width * 3;
                        }
                        a {
                            margin-bottom: $grid-gutter-width * 1.25;
                            display: block;
                        }
                        .page-count {
                            font-size: $font-size-base * 1.125;
                            position: absolute;
                            top: 32px;
                            right: -64px;
                            span {
                                display: block;
                            }
                            &::before {
                                content: "";
                                position: absolute;
                                top: -28px;
                                right: 0;
                                height: 32px;
                                width: 32px;
                                background-color: $body-bg;
                                z-index: 1;
                            }
                            &::after {
                                content: "";
                                position: absolute;
                                top: 24px;
                                right: 0;
                                height: 32px;
                                width: 32px;
                                background-color: $body-bg;
                                z-index: 1;
                            }
                        }
                    }
                    &-right {
                        transition: all, 1.5s;
                        grid-column: 5 / span 8;
                        grid-row: 1;
                        z-index: 0;
                        grid-template-rows: auto 1fr;
                        row-gap: 0;
                        
                        &.active {
                            z-index: 1;
                            .top-row {
                                .g-col-md-6 {
                                    &:nth-of-type(2) {
                                        .content {
                                            animation: activeText 1s ease-out;
                                        }
                                    }
                                }
                            }
                            .bottom-row {
                                .g-col-md-6 {
                                    &:nth-of-type(2) {
                                        img {
                                            animation: activeImg 750ms ease-out;
                                            animation-delay: 500ms;
                                        }
                                    }
                                }
                            }
                        }
                        &.next {
                            transform: translateX(100%);
                        }
                        &.previous {
                            animation: slidein 2s;
                            transform: translate(100%);
                            .top-row {
                                .g-col-md-6 {
                                    &:first-of-type {
                                        .content {
                                            animation: previousText 500ms ease-out;
                                        }
                                    }
                                }
                            }
                        }
                        
                        .top-row {
                            border-bottom: 3px solid transparent;
                            position: relative;
                            grid-row: 1;
                            grid-column: 1 / -1;

                            .g-col-md-6 {
                                display: flex;
                                align-items: flex-end;
                                .content {
                                    width: 50%;
                                }
                                &:first-of-type {
                                    padding-top: $grid-gutter-width * 3;
                                }
                            }
                            &:after {
                                content: "";
                                position: absolute;
                                background-color: $primary;
                                bottom: -3px;
                                height: 3px;
                                width: 200vw;
                            }
                        }
                        .bottom-row {
                            grid-row: 2;
                            grid-column: 1 / -1;
                            .img-fluid {
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                                object-position: center;
                                aspect-ratio: 1;
                            }
                        }
                    }
                }
            }
        }    
    }
}