.container-fluid {

    div[class^="g-col-"] {
        &:not(.main-col-right) {
            padding: $grid-gutter-width;
        }
    }
}

.header {
    height: auto;
    background-color: $primary;
    color: $gray-600;
    font-size: $font-size-base * 1.125;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
    .container-fluid {
        padding-left: $grid-gutter-width * 2;
        padding-right: $spacer * 4.5;
        a {
            color: $gray-600;
        }
    }
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
    &.transitioning {
        .page-count {
            span {
                animation: pageCount 750ms ease-out;
            }
        }
    }
    .main {
        flex-grow: 1;
        display: flex;
        .container-fluid {
            display: flex;
            padding: 0;
            .main-grid {
                grid-template-rows: 1fr;
                gap: 0;
                .main-col {
                    &-left {
                        border-right: 3px solid $primary;
                        grid-row: 1 / span 2;
                        background-color: $secondary;
                        z-index: 2;
                        position: relative;
                        @include media-breakpoint-up(xxl) {
                            padding-left: $grid-gutter-width * 3;
                        }
                        a {
                            margin-bottom: $grid-gutter-width * 1.25;
                            display: block;
                        }
                        .page-count {
                            font-size: $font-size-base * 1.125;
                            position: absolute;
                            top: 32px;
                            right: -64px;
                            span {
                                display: block;
                            }
                            &::before {
                                content: "";
                                position: absolute;
                                top: -28px;
                                right: 0;
                                height: 32px;
                                width: 32px;
                                background-color: $body-bg;
                                z-index: 1;
                            }
                            &::after {
                                content: "";
                                position: absolute;
                                top: 24px;
                                right: 0;
                                height: 32px;
                                width: 32px;
                                background-color: $body-bg;
                                z-index: 1;
                            }
                        }
                        .grid {
                            display: relative;
                            .arrow {
                                border-top: 5px solid $primary;
                                border-right: 5px solid $primary;
                                width: 25px;
                                height: 25px;
                                position: relative;
                                &::before {
                                    content: "";
                                    position: absolute;
                                    top: -8px;
                                    right: -9px;
                                    border-top: 5px solid $primary;
                                    transform-origin: right;
                                    transform: rotate(-45deg);
                                    width: 29px;
                                    height: 25px;
                                }
                            }
                        }
                    }
                    &-right {
                        grid-column: 5 / span 8;
                        grid-row: 1;
                        z-index: 0;
                        grid-template-rows: 1fr;
                        gap: $spacer * 2;
                        row-gap: 0;
                        display: grid;
                        grid-auto-columns: calc(50% - #{$spacer * 2});
                        grid-auto-flow: column;
                        transform: translateX(0%);
                        padding: 0 0 $grid-gutter-width $grid-gutter-width;

                        &.move-left {
                            animation: slidein 1s 1 ease-in forwards;
                            .slide {
                                &-1 {
                                    .top-row {
                                        .content {
                                            animation: previousText 1000ms ease-in;
                                        }
                                    }
                                }
                                &-3 {
                                    .top-row {
                                        .content {
                                            animation: activeText 1000ms ease-out;
                                        }
                                    }
                                    .bottom-row {
                                        img {
                                            animation: activeImg 1000ms ease-in;
                                        }
                                    }
                                }
                            }
                        }
                        
                        .slide {
                            grid-row: 1;
                            row-gap: $grid-gutter-width;
                            display: grid;
                            grid-template-rows: auto 1fr;
                            @for $i from 1 through 3 {
                                &-#{$i} {
                                    order: $i;
                                }    
                            }

                            .top-row {
                                border-bottom: 3px solid transparent;
                                position: relative;
                                grid-row: 1;
                                padding: ($grid-gutter-width * 3) 0 $grid-gutter-width 0;
                                .content {
                                    @include media-breakpoint-up(lg) {
                                        width: 60%;
                                    }
                                }

                                &:after {
                                    content: "";
                                    position: absolute;
                                    background-color: $primary;
                                    left: -$grid-gutter-width;
                                    bottom: -3px;
                                    height: 3px;
                                    width: 200vw;
                                }
                            }
                            .bottom-row {
                                grid-row: 2;
                                .img-fluid {
                                    height: 100%;
                                    width: 100%;
                                    object-fit: cover;
                                    object-position: center;
                                    aspect-ratio: 1;
                                }
                            }
                        }
                    }
                }
                .counter {
                    position: absolute;
                    right: -$grid-gutter-width * 1.5;
                    bottom: $grid-gutter-width * .5;
                    display: flex;
                    flex-direction: column;
                    font-size: $font-size-base * 12;
                    font-family: $headings-font-family;
                    line-height: 1;
                    overflow: hidden;
                    width: 250px;
                    height: 200px;            
                    &.animating {
                        span {
                            animation: countUp 500ms ease-out;
                            animation-delay: 500ms;
                        }
                    }
                    @for $i from 1 through 3 {
                        &.count-#{$i} {
                            span:nth-child(#{$i}) {
                                order: -1;
                            }
                        }
                    }
                    &.count-2 {
                        span:first-child {
                            order: 1;
                        }
                    }
                }
            }
        }    
    }
}