.full-page {
    transform: translateY(-100%);
    grid-area: 1 / 5 / 1 / span 8;
    gap: 0;
    display: grid;
    place-items: center;
    z-index: 2;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: $body-bg;
    position: relative;
    height: calc(100vh - 91px);
    overflow-y: hidden;

    .btn-close {
        position: fixed;
        top: $grid-gutter-width;
        right: $grid-gutter-width * 2;
        text-transform: uppercase;
        font-weight: $font-weight-semibold;
        color: $gray-600;
        overflow: hidden;
    }
    .content {
        width: 100%;
        height: 100%;
        height: inherit;
        grid-column: 1;
        grid-row: 1;
        background-color: $body-bg;
        img {
            width: 100%;
            height: inherit;
            object-fit: cover;
            object-position: center;
            transition: 1s ease-in;
        }
        &-pane-2,
        &-pane-3 {
            transform: translateY(220%);
            &.show {
                animation: contentScrollUp 1000ms ease-out forwards;
            }
        }
        &-pane-2 {
            padding: min(15vh, ($grid-gutter-width * 6)) ($grid-gutter-width * 2) 0 ($grid-gutter-width * 2);
            .grid {
                grid-template-columns: 1fr 2fr;
                gap: $grid-gutter-width * 2;
                .g-col-md-4 {
                    grid-column: 1 / span 1;
                    padding: 0;
                    margin-top: max(-34vh, -270px);
                    
                    .img-fluid {
                        max-height: 30%;
                        margin-bottom: min(6vh, $grid-gutter-width * 4);
                    }
                    .text {
                        @media (min-width: 1600px) {
                            width: 75%;
                        }
                        h3 {
                            margin-bottom: $spacer * 1.5;
                        }
                        p {
                            font-size: $font-size-base * .95;
                            line-height: 1.25;
                            @media(min-height: 800px) {
                                font-size: $font-size-base;
                            }
                            @media(min-height: 950px) {
                                font-size: $font-size-base * 1.125;
                            }
                            &:first-of-type {
                                margin-bottom: min(4vh, $grid-gutter-width * 2);
                            }
                        }
                    }
                }
                .g-col-md-8 {
                    grid-column: 2 / span 1;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    .slide-count {
                        display: inline-block;
                        font-size: $h5-font-size;
                        margin: 0 0 $grid-gutter-width auto;
                    }
                }
            }
        }
        &-pane-3 {
            padding: 0 ($grid-gutter-width * 2);
            background-color: $primary;
            color: $gray-600;
            overflow: hidden;
            .grid {
                .g-col-md-5 {
                    @include media-breakpoint-up(xl) {
                        font-size: $font-size-base * 1.125;
                    }
                    &:nth-of-type(odd) {
                        padding-left: 0;
                        display: flex;
                        span {
                            margin-top: auto;
                        }
                        img {
                            margin-top: -50%;
                        }
                    }
                    &:nth-of-type(even){
                        padding-right: 0;
                        display: flex;
                        .shape {
                            width: 100%;
                            height: $spacer;
                            background-color: $body-bg;
                            margin-top: auto;
                        }
                    }
                    &:first-of-type {
                        margin-top: -$spacer * 2;
                    }
                }
                .picture-lg {
                    margin-left: calc(-#{$grid-gutter-width * 2} - 3px);
                    img {
                        object-position: top;
                    }
                }
            }
        }
    }
    &.show {
        animation: slideDown 1000ms ease-out forwards;
        .btn-close {
            animation: btnHeight 750ms ease-in-out both;
            animation-delay: 750ms;
            z-index: $zindex-fixed;
        }
        .content {
            img {
                animation: imgHeight 1200ms ease-in;
            }
        }
    }
}