a {
    text-decoration: none;
    font-size: $font-size-base * 1.125;
    text-transform: uppercase;
}

p {
    margin-bottom: 0;
}

h1 {
    font-size: max(5vw, ($font-size-lg * 3.5));
    line-height: 1.1;
    margin-bottom: $grid-gutter-width * 3;
}