a {
    text-decoration: none;
    font-size: $font-size-base * 1.125;
    text-transform: uppercase;
}

p {
    margin-bottom: 0;
}

h1 {
    font-size: min(6vh, ($font-size-lg * 5.5));
    line-height: 1.1;
    margin-bottom: min(8vh, $grid-gutter-width * 3);
}

h2 {
    font-size: calc(1.325rem + .5vw);
};